---

TYPO3:
  Flow:
    security:
      authentication:
        providers:
          crowdProvider:
            provider: SimplyAdmire\CrowdConnector\Provider\CrowdProvider
            providerOptions:
              instance: 'my.instance'

SimplyAdmire:
  CrowdConnector:
    instances:
      'my.instance':
        url: ''
        password: '## DO NOT SET PASSWORD HERE! We do not want this in git! :) ##'
        applicationName: ''
        apiUrls:
          authenticate: '/rest/usermanagement/1/authentication'
          search: '/rest/usermanagement/1/search'
          user: '/rest/usermanagement/1/user'
